.sidenav {
  width: 200px; 
  background-color: #673ab7;
}

.sidenav a {
  color: #fff;
  text-decoration: none;
}

.sidenav i {
  padding-right: 10px;
}

.nav-list a {
  display: flex;
}

.text-white {
  color: white;
}
.content {
  background-color: #fff;
  padding: 16px;
}