<mat-card>
  <mat-card-header class="card-header">
    <mat-card-title>Novo Produto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput name="name" placeholder="Nome" [(ngModel)]="product.name">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="price" placeholder="Preço (R$)" [(ngModel)]="product.price">
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary" (click)="createProduct()">
      Criar Produto
    </button>

    <button mat-raised-button (click)="cancel()">
      Criar Produto
    </button>
  </mat-card-content>
</mat-card>